body {
  background: #F4F4E6; 
}

.page-wrapper {
  margin: 2em auto;
  max-width: 700px;
} 
.logo {
  display: block;
  margin: 0 auto 2em;
}

h1 {
  text-align: center;
  margin-top: 2em;
}

.main-navbar {
  padding: 30px 50px 26px;
  background: #eee;
}
.main-navbar a {
  color: #000;
}
.main-navbar li.active a {
  color: #999;
}